html,body{
	background:#F5F5F5;
}
header{
  height:10%;
  text-align: center;
  margin-bottom:0px;
}
header img{
  max-width: 70%;
  height: auto;
}
a{
	font-size: 1em;
	text-decoration: none;
  color: #008FA8;
}
a:hover{
  color:black;
}
#number{
  color:red;
}

#container{
margin-left: 150px;
max-width:85%;
overflow:auto; 
background:none;
}  

.sidebar{
  width: 150px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
}
#navigation ul{
  padding-right: 5px;
  padding-left: 25px;
  list-style: none;
}
#navigation ul li{
font-size: 17px;
margin-bottom: 5px;
width: 7.5em;
height: 32px;
line-height:32px;
margin-left: 1em;
}
 li:hover{
  background:#e7e8e9;
}
#list li a{
    color:#000;
    font-style:normal;
    display: block;


}
#list li a.active{
  background-color:rgb(116, 208, 224);
  color:white;


}


.item {
max-width:250px;
margin:10px;
float:left;
background:#fff;
display:inline;
box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}

.item:hover {
  padding-top: 4px;
  box-shadow: 0 10px 8px 3px #aaa;
}
.item:active {
  top: 3px;
  box-shadow: none;
}

.description {
	text-align: center;
  margin-bottom: 10%;
  position: relative;
}

.description img{
  max-width: 100%;
  max-height: 100%;
  min-height: 160px;
}
.description:before{
  content: "";
    display: inline-block;
    border: 10px solid transparent;
    border-top-color: #fff;
    position: absolute;
    left:30px;
 }
h3{
	font-size: 15px;
  font-weight: bold;
	margin: 16px;
	}
h3 span{
  color: #CF000F;
}
#text1 {
        width: 90%;
        height: 3em;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        font-size: 1.4em;
        font-weight: 700;
    }
    #btn3 {
        position: absolute;
        top: 40px;
        right: 10px;
        background: -webkit-linear-gradient(top,#008dfd 30%,#0370ea 100%);
        color: white;
        text-shadow: 1px 1px 1px #076bd2;
        border-radius: 3px;
        border: 1px solid #076bd2;
        padding: 8px 25px;
        font-weight: 700;
        font-size: 15px;
    }
    #selectVoice {

        width: 200px;
    }


#time{
  color:#a8a8a8;
  font-size:12px;
  float:right;
}

