<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="./main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
	<title>topnews</title>
</head>
<body>
<header>
<img src="./ロゴ.png" alt="" width="400px" height="130px">
</header><!-- /header -->

<section>
  <div id ="navigation">
  <ul>
    <li><a href="./topnews" title="トップニュース">トップニュース</a></li>
    <li><a href="./entame" title="エンタメ情報">エンタメ情報</a></li>
    <li><a href="" title=""></a></li>
    <li><a href="" title=""></a></li>
  </ul>
</div> 
</section>
<?php include_once "content.php" ?>
<script>

var container = document.querySelector('#container');

imagesLoaded(container, function () {
  var msnry = new Masonry(container, {
    itemSelector: '.item',
    columnWidth: 3, 
    isFitWidth: true,
    isAnimated: true
  });
});
</script>
</body>
</html>